################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SimpleRCD/v14
/RCD.Client/bin
/RCD.Client/obj
/RCD.Installer/bin
/RCD.Installer/obj
