################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SimpleRCD/v14
/RCD.Client/bin
/RCD.Client/obj
/RCD.Installer/bin
/RCD.Installer/obj
/RCD.Extensions/bin
/RCD.Extensions/obj
/RCD.Core/bin
/RCD.Core/obj
/RCD.WPFClient/bin
/RCD.WPFClient/obj
